.article-list .article-module {
    display: flex;
    border-bottom: 2px solid #CCC;
    padding: 10px;
}
.article-list .article-module div {
    margin: 0 10px;
}
.article-list .article-module img {
    width: 25%;
    height: auto;
    cursor: pointer;
}
.article-list .article-column:first-child .article-module:first-child img {
    width: 50%;
    height: auto;
}
.article-list .article-module div h4 {
   cursor: pointer;
}
.author-link {
    text-decoration: underline;
    cursor: pointer;
}
.author-link:hover {
   font-weight: bold;
}

@media (min-width: 600px) {
    .article-list {
        display: flex;
        flex-wrap: wrap;
        /* border: 1px solid blue; */
    }
    .article-list .article-column:first-child {
        order: 1;
        width: 55%;
        flex-grow: 1;
    }
    .article-list .article-column:first-child .article-module:first-child {
       display: flex;
       flex-direction: column;
       text-align: center;
    }
    .article-list .article-column:first-child .article-module:first-child img {
       width: 100%;
       height: 100%;
     }
    .article-list .article-column {
        width: 22.5%;
        flex-grow: 1;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
    }
    .article-list .article-column .article-module {
        flex: 1 1 auto;
    }

    .article-list .article-column:nth-child(2) .article-module:first-child {
        flex-direction: column;
    }

    .article-list .article-column:nth-child(2) .article-module:first-child img {
        width: 100%;
    }

    .article-list .article-column:nth-child(2) .article-module:first-child ~ .article-module img {
        display: none;
    }

    .article-list .article-column:nth-child(3),
    .article-list .article-column:last-child {
        display: flex;
        flex-direction: row;
        order: 3;
        width: 100%;
        flex-wrap: wrap;
    }
    .article-list .article-column:nth-child(3) .article-module,
    .article-list .article-column:last-child .article-module {
        width: 33.33%;
    }

    .article-list .article-column:nth-child(3) .article-module img,
    .article-list .article-column:last-child .article-module img {
        display: none;
    }

}

@media (min-width: 880px) {
    .article-list {
        margin: 0 auto;
        max-width: 1080px;
    }
    .article-list .article-column:nth-child(1) {
        order: 1;
        width: 55%;
    }
    .article-list .article-column {
        width: 22.5%;
    }
    .article-list .article-column:nth-child(3) {
        width: 22.5%;
        order: 3;
        display: flex;
        margin: 0;
        border-top: none;
    }
    .article-list .article-column:nth-child(3) .article-module {
        width: 100%;
    }
    .article-list .article-column:nth-child(3) .article-module:first-child {
        flex-direction: column;
    }
    .article-list .article-column:nth-child(3) .article-module:first-child img {
        display: block;
        width: 100%;
    }
}