footer {
    height: 50px;
    width: 100%;
    border-top: 1px solid #999;
    position: absolute;
    top: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}