#article-edit {
    display: block;
    width: 800px;
    margin: 20px auto;
}
#article-edit input,
#article-edit textarea {
    display:block;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #CCC;
}
#article-edit img {
    display:block;
    margin:0 auto;
    width: 30%;
}
