.article-list li {
    display: flex;
    border-bottom: 2px solid #CCC;
    padding: 10px;
}
.article-list li div {
    margin: 0 10px;
}
.article-list li img {
    width: 25%;
    height: auto;
    cursor: pointer;
}
.article-list li:first-child img {
    width: 50%;
    height: auto;
}
.article-list li div h4 {
   cursor: pointer;
}
.author-link {
    text-decoration: underline;
    cursor: pointer;
}
.author-link:hover {
   font-weight: bold;
}